@import "reset-context";
@import "style-portal";

.tooltip-container {
    reset-context();

    display: inline-block;
    max-width: 100%;

    .tooltip {
        display: none;

        &.screenPosition {
            position: fixed; // override style portal
        }

        &.show {
            display: inline-block;
        }
    }

    .tooltip-target-container {
        display: inline-block;
        max-width: 100%;
    }
}
