@import "reset-context";
@import "style-portal";

.tooltip-container {
    reset-context();

    display: inline-block;
    // vertical-align: top;
    max-width: 100%;

    .tooltip {
        display: none;

        &.screenPosition {
            position: fixed; // override style portal
        }

        &.show {
            display: inline-block;
        }
    }

    .tooltip-target-container {
        display: inline-block;
        // https://stackoverflow.com/questions/32190967/why-does-overflow-hidden-affect-height-and-how-can-i-fix-it-in-this-example
        // https://stackoverflow.com/questions/25818199/why-does-overflow-hidden-add-additional-height-to-an-inline-block-element
        vertical-align: top;
        max-width: 100%;
    }
}
